openapi: 3.0.3
info:
  title: TrustSignal Public Verification API
  version: 1.0.0
  description: |
    TrustSignal is evidence integrity infrastructure for existing workflows.
    This contract documents the public verification lifecycle for creating signed verification receipts,
    retrieving receipt state, checking later verification status, and managing authorized lifecycle actions.
servers:
  - url: https://api.trustsignal.dev
    description: Production
security:
  - ApiKeyAuth: []
tags:
  - name: Verification
    description: Create signed verification receipts and return verification signals.
  - name: Receipts
    description: Retrieve stored receipts and receipt-ready artifacts.
  - name: Lifecycle
    description: Check later verification status and manage authorized receipt lifecycle actions.
paths:
  /api/v1/verify:
    post:
      tags: [Verification]
      summary: Create a verification and receive a signed verification receipt
      description: |
        Submit a generic artifact verification request from an existing workflow. TrustSignal returns
        a signed verification receipt and persists it for later verification.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactVerificationRequest'
            examples:
              default:
                summary: Verification request
                value:
                  artifact:
                    hash: 2f77668a9dfbf8d5847cf2d5d0370740e0c0601b4f061c1181f58c77c2b8f486
                    algorithm: sha256
                  source:
                    provider: github-actions
                    repository: TrustSignal-dev/TrustSignal-Verify-Artifact
                    workflow: Verify Build Artifact
                    runId: "12345"
                    commit: abc123def456
                    actor: octocat
                  metadata:
                    artifactPath: dist/release.txt
      responses:
        '200':
          description: Verification completed and a signed verification receipt was issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactVerificationResponse'
              examples:
                default:
                  summary: Verification response
                  value:
                    verificationId: 2c17d2f5-4de6-48c3-b22c-0b7ea9eb5c0a
                    receiptId: 2c17d2f5-4de6-48c3-b22c-0b7ea9eb5c0a
                    receiptSignature: eyJleGFtcGxlIjoic2lnbmVkLXJlY2VpcHQifQ
                    status: verified
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/v1/receipt/{receiptId}:
    get:
      tags: [Receipts]
      summary: Retrieve a public-safe artifact receipt view
      description: |
        Return a compact inspection view for an artifact receipt. The response is safe for
        external display and omits internal scoring, raw signatures, and backend details.
        Artifact receipt identifiers are unguessable UUIDs, which allows read-only inspection
        without exposing private persistence. Legacy non-artifact receipts still require read-scoped auth.
      security: []
      parameters:
        - $ref: '#/components/parameters/ReceiptId'
      responses:
        '200':
          description: Public artifact receipt view returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicArtifactReceipt'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/v1/receipt/{receiptId}/summary:
    get:
      tags: [Receipts]
      summary: Retrieve a compact partner-ready receipt summary
      description: |
        Return a stable summary payload that partner platforms can render as a verification badge
        or evidence-panel status without understanding TrustSignal internals.
      security: []
      parameters:
        - $ref: '#/components/parameters/ReceiptId'
      responses:
        '200':
          description: Compact verification summary returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicArtifactReceiptSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/v1/receipt/{receiptId}/pdf:
    get:
      tags: [Receipts]
      summary: Download a PDF rendering of a stored verification receipt
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ReceiptId'
      responses:
        '200':
          description: PDF returned.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/v1/receipt/{receiptId}/verify:
    post:
      tags: [Lifecycle]
      summary: Check later verification status for a stored receipt
      description: |
        Compare a supplied artifact hash against a stored receipt and return the current verification status.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ReceiptId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactReceiptVerifyRequest'
      responses:
        '200':
          description: Receipt verification status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactReceiptVerificationStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/v1/receipt/{receiptId}/revoke:
    post:
      tags: [Lifecycle]
      summary: Revoke a receipt when the caller is authorized
      description: |
        Mark a stored receipt as revoked. This endpoint does not accept a request body.
        In addition to the API key, issuer authorization headers are required.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ReceiptId'
        - $ref: '#/components/parameters/IssuerId'
        - $ref: '#/components/parameters/SignatureTimestamp'
        - $ref: '#/components/parameters/IssuerSignature'
      responses:
        '200':
          description: Receipt revocation state returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevocationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/v1/anchor/{receiptId}:
    post:
      tags: [Lifecycle]
      summary: Record verifiable provenance metadata for a receipt when enabled
      description: |
        Return the current provenance state for a receipt. This endpoint does not accept a request body.
        It is intended for workflows that use later verification with anchor subject metadata.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ReceiptId'
      responses:
        '200':
          description: Provenance state returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnchorState'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The receipt is not yet in a state that can expose provenance metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: proof_artifact_required_for_anchor
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/v1/receipts:
    get:
      tags: [Receipts]
      summary: List recent verification receipts
      description: Return a compact list of recent receipts for read-scoped integrations.
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Receipt list returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReceiptListItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        API key authentication. TrustSignal uses scoped API keys for the public `/api/v1/*` surface.
        Typical scopes are `verify`, `read`, `anchor`, and `revoke`.
  parameters:
    ReceiptId:
      name: receiptId
      in: path
      required: true
      description: Receipt identifier returned by `POST /api/v1/verify`.
      schema:
        type: string
        format: uuid
    IssuerId:
      name: x-issuer-id
      in: header
      required: true
      schema:
        type: string
      description: Authorized issuer identifier for receipt revocation.
    SignatureTimestamp:
      name: x-signature-timestamp
      in: header
      required: true
      schema:
        type: string
        format: date-time
      description: Timestamp used for issuer revocation authorization.
    IssuerSignature:
      name: x-issuer-signature
      in: header
      required: true
      schema:
        type: string
      description: Issuer authorization signature for receipt revocation.
  responses:
    BadRequest:
      description: Request validation failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid authentication material.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: The caller is authenticated but not authorized for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Requested verification receipt was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: A required service dependency is unavailable.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    VerificationRequest:
      type: object
      additionalProperties: false
      required:
        - bundleId
        - transactionType
        - ron
        - doc
        - policy
        - property
      properties:
        bundleId:
          type: string
          minLength: 1
          description: Caller-controlled verification identifier.
        transactionType:
          type: string
          minLength: 1
          description: Existing workflow transaction category.
        ron:
          type: object
          additionalProperties: false
          required:
            - provider
            - notaryId
            - commissionState
            - sealPayload
          properties:
            provider:
              type: string
            notaryId:
              type: string
            commissionState:
              type: string
              minLength: 2
              maxLength: 2
            sealPayload:
              type: string
            sealScheme:
              type: string
              enum: [SIM-ECDSA-v1]
        doc:
          type: object
          additionalProperties: false
          required:
            - docHash
          properties:
            docHash:
              type: string
              description: Artifact hash supplied by the caller.
            pdfBase64:
              type: string
              description: Optional artifact payload when the integration sends the full document.
        policy:
          type: object
          additionalProperties: false
          required:
            - profile
          properties:
            profile:
              type: string
              description: Policy or control identifier for the verification.
        property:
          type: object
          additionalProperties: false
          required:
            - parcelId
            - county
            - state
          properties:
            parcelId:
              type: string
            county:
              type: string
            state:
              type: string
              minLength: 2
              maxLength: 2
        ocrData:
          type: object
          additionalProperties: false
          properties:
            notaryName:
              type: string
            notaryCommissionId:
              type: string
            propertyAddress:
              type: string
            grantorName:
              type: string
        registryScreening:
          type: object
          additionalProperties: false
          properties:
            subjectName:
              type: string
              minLength: 2
              maxLength: 256
            sourceIds:
              type: array
              items:
                type: string
              minItems: 1
              maxItems: 50
            forceRefresh:
              type: boolean
        timestamp:
          type: string
          format: date-time
          description: Caller-provided event timestamp.
    ArtifactVerificationRequest:
      type: object
      additionalProperties: false
      required:
        - artifact
        - source
      properties:
        artifact:
          type: object
          additionalProperties: false
          required:
            - hash
            - algorithm
          properties:
            hash:
              type: string
              pattern: '^[A-Fa-f0-9]{64}$'
            algorithm:
              type: string
              enum: [sha256]
        source:
          type: object
          additionalProperties: false
          required:
            - provider
          properties:
            provider:
              type: string
            repository:
              type: string
            workflow:
              type: string
            runId:
              type: string
            commit:
              type: string
            actor:
              type: string
        metadata:
          type: object
          additionalProperties: false
          properties:
            artifactPath:
              type: string
    ArtifactVerificationResponse:
      type: object
      additionalProperties: false
      required:
        - verificationId
        - receiptId
        - receiptSignature
        - status
      properties:
        verificationId:
          type: string
          format: uuid
        receiptId:
          type: string
          format: uuid
        receiptSignature:
          type: string
        status:
          type: string
          enum: [verified]
    ArtifactReceiptVerifyRequest:
      type: object
      additionalProperties: false
      required:
        - artifact
      properties:
        artifact:
          type: object
          additionalProperties: false
          required:
            - hash
            - algorithm
          properties:
            hash:
              type: string
              pattern: '^[A-Fa-f0-9]{64}$'
            algorithm:
              type: string
              enum: [sha256]
    ArtifactReceiptVerificationStatus:
      type: object
      additionalProperties: false
      required:
        - verified
        - integrityVerified
        - signatureVerified
        - status
        - receiptId
        - receiptSignature
        - storedHash
        - recomputedHash
      properties:
        verified:
          type: boolean
        integrityVerified:
          type: boolean
        signatureVerified:
          type: boolean
        status:
          type: string
          enum: [verified, mismatch]
        receiptId:
          type: string
          format: uuid
        receiptSignature:
          type: string
        storedHash:
          type: string
        recomputedHash:
          type: string
    PublicArtifactReceipt:
      type: object
      additionalProperties: false
      required:
        - receiptId
        - artifact
        - source
        - status
        - createdAt
        - receiptSignature
      properties:
        receiptId:
          type: string
          format: uuid
        artifact:
          type: object
          additionalProperties: false
          required:
            - hash
            - algorithm
          properties:
            hash:
              type: string
              pattern: '^[A-Fa-f0-9]{64}$'
            algorithm:
              type: string
              enum: [sha256]
        source:
          type: object
          additionalProperties: false
          required:
            - provider
          properties:
            provider:
              type: string
            repository:
              type: string
            workflow:
              type: string
            runId:
              type: string
            commit:
              type: string
            actor:
              type: string
        status:
          type: string
        createdAt:
          type: string
          format: date-time
        receiptSignature:
          type: object
          additionalProperties: false
          required:
            - alg
            - kid
          properties:
            alg:
              type: string
            kid:
              type: string
        verificationUrl:
          type: string
          format: uri
    PublicArtifactReceiptSummary:
      type: object
      additionalProperties: false
      required:
        - receiptId
        - status
        - integrityState
        - issuedAt
        - source
        - display
      properties:
        receiptId:
          type: string
          format: uuid
        status:
          type: string
        integrityState:
          type: string
          enum: [valid, check]
        issuedAt:
          type: string
          format: date-time
        source:
          type: object
          additionalProperties: false
          required:
            - provider
          properties:
            provider:
              type: string
            repository:
              type: string
            workflow:
              type: string
        display:
          type: object
          additionalProperties: false
          required:
            - label
            - tone
            - statement
          properties:
            label:
              type: string
            tone:
              type: string
              enum: [success, warning]
            statement:
              type: string
    VerificationResponse:
      type: object
      additionalProperties: true
      required:
        - receiptVersion
        - decision
        - reasons
        - receiptId
        - receiptHash
        - anchor
        - revocation
      properties:
        receiptVersion:
          type: string
          example: '2.0'
        decision:
          type: string
          enum: [ALLOW, FLAG, BLOCK]
          description: Verification signal for the submitted request.
        reasons:
          type: array
          items:
            type: string
        receiptId:
          type: string
          format: uuid
        receiptHash:
          type: string
        receiptSignature:
          $ref: '#/components/schemas/ReceiptSignature'
        anchor:
          $ref: '#/components/schemas/AnchorState'
        revocation:
          $ref: '#/components/schemas/RevocationState'
      description: |
        Public response fields for receipt issuance. Additional implementation-specific fields may also be present.
    VerificationReceipt:
      allOf:
        - $ref: '#/components/schemas/VerificationResponse'
        - type: object
          additionalProperties: true
          required:
            - receipt
            - canonicalReceipt
            - pdfUrl
          properties:
            receipt:
              $ref: '#/components/schemas/StoredReceipt'
            canonicalReceipt:
              type: string
              description: Canonical receipt payload used for later verification.
            pdfUrl:
              type: string
              description: Relative URL for the PDF rendering of the receipt.
    StoredReceipt:
      type: object
      additionalProperties: true
      required:
        - receiptVersion
        - receiptId
        - createdAt
        - policyProfile
        - inputsCommitment
        - checks
        - decision
        - reasons
        - receiptHash
      properties:
        receiptVersion:
          type: string
        receiptId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        policyProfile:
          type: string
        inputsCommitment:
          type: string
        checks:
          type: array
          items:
            $ref: '#/components/schemas/CheckResult'
        decision:
          type: string
          enum: [ALLOW, FLAG, BLOCK]
        reasons:
          type: array
          items:
            type: string
        receiptHash:
          type: string
        receiptSignature:
          $ref: '#/components/schemas/ReceiptSignature'
      description: |
        Stored receipt representation returned by the gateway. Integrations should rely on the documented receipt fields
        and should not infer internal engine behavior from optional fields.
    VerificationStatus:
      type: object
      additionalProperties: false
      required:
        - verified
        - integrityVerified
        - signatureVerified
        - signatureStatus
        - proofVerified
        - recomputedHash
        - storedHash
        - inputsCommitment
        - receiptSignature
        - revoked
      properties:
        verified:
          type: boolean
          description: Overall later verification result.
        integrityVerified:
          type: boolean
          description: Whether the stored receipt still matches its canonical hash.
        signatureVerified:
          type: boolean
          description: Whether the stored receipt signature verified.
        signatureStatus:
          type: string
          enum: [verified, invalid, unknown-kid, legacy-unsigned]
        signatureReason:
          type: string
        proofVerified:
          type: boolean
          description: Public verification status flag returned by the API.
        recomputedHash:
          type: string
        storedHash:
          type: string
        inputsCommitment:
          type: string
        receiptSignature:
          oneOf:
            - $ref: '#/components/schemas/ReceiptSignatureSummary'
            - type: 'null'
        revoked:
          type: boolean
    AnchorState:
      type: object
      additionalProperties: true
      required:
        - status
      properties:
        status:
          type: string
          description: Current provenance state for the receipt.
        anchoredAt:
          type: string
          format: date-time
        subjectDigest:
          type: string
          description: Verifiable provenance digest for later verification.
        subjectVersion:
          type: string
          description: Version label for the provenance digest format.
      description: |
        Public-safe provenance metadata. Implementations may return additional fields, but integrations should treat
        this object as provenance state rather than infrastructure detail.
    ReceiptListItem:
      type: object
      additionalProperties: false
      required:
        - receiptId
        - decision
        - createdAt
        - anchorStatus
        - revoked
      properties:
        receiptId:
          type: string
          format: uuid
        decision:
          type: string
          enum: [ALLOW, FLAG, BLOCK]
        createdAt:
          type: string
          format: date-time
        anchorStatus:
          type: string
        revoked:
          type: boolean
    RevocationState:
      type: object
      additionalProperties: false
      required:
        - status
      properties:
        status:
          type: string
          enum: [ACTIVE, REVOKED, ALREADY_REVOKED]
    RevocationResponse:
      type: object
      additionalProperties: false
      required:
        - status
      properties:
        status:
          type: string
          enum: [REVOKED, ALREADY_REVOKED]
        issuerId:
          type: string
          description: Authorized issuer identifier returned when the receipt is revoked.
    ReceiptSignature:
      type: object
      additionalProperties: false
      required:
        - alg
        - kid
        - signature
      properties:
        alg:
          type: string
          enum: [EdDSA]
        kid:
          type: string
        signature:
          type: string
          description: Signed receipt artifact returned by the API.
    ReceiptSignatureSummary:
      type: object
      additionalProperties: false
      required:
        - alg
        - kid
      properties:
        alg:
          type: string
          enum: [EdDSA]
        kid:
          type: string
    CheckResult:
      type: object
      additionalProperties: false
      required:
        - checkId
        - status
      properties:
        checkId:
          type: string
        status:
          type: string
          enum: [PASS, FAIL, WARN]
        details:
          type: string
    ErrorResponse:
      type: object
      additionalProperties: true
      required:
        - error
      properties:
        error:
          type: string
        message:
          type: string
        details:
          description: Optional validation or request context.
